{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% url 'Login' as Login %}
    {% url 'Signup' as Register %}
    <div class="register-background">
            <div class="filter-black"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                            <div class="register-card">
                                <h3 class="title">Welcome to</h3>
                                <h2 class="text-center text-uppercase text-light bg-dark">
                                   {% if request.get_full_path == Login %}
                                       Login
                                    {% else %}
                                       Register
                                    {% endif %}
                                </h2>
                                <form class="register-form" method="post">
                                    {% csrf_token %}

                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}">
                                            {{ message }}
                                            </div>
                                        {% endfor %}

                                    {% endif %}

                                    {{ form|crispy }}

                                {% if request.get_full_path == Login %}
                                    <button class="btn btn-danger btn-block">Login</button>
                                {% else %}
                                    <button class="btn btn-danger btn-block">Register</button>
                                {% endif %}
                                </form>

                                {% if request.get_full_path == Login %}
                                    <div class="forgot">
                                    <a href="{% url 'Signup'  %}" class="btn btn-block btn-danger">Register</a>
                                </div>

                                {% else %}
                                    <div class="forgot">
                                    <a href="{% url 'Login' %}" class="btn btn-block btn-danger">Login</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            <div class="footer register-footer text-center">
                    <h6>&copy; 2020 Pratilipi</h6>
            </div>
        </div>
{% endblock %}